<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970182107505-kcjhodp3ngt2qdnlpqhllunkn056vudc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970182107505-kcjhodp3ngt2qdnlpqhllunkn056vudc</string>
	<key>API_KEY</key>
	<string>AIzaSyB59HNR-2cdgMp7yrCNAmG0SPuUi0LzDZA</string>
	<key>GCM_SENDER_ID</key>
	<string>970182107505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.community.swift.FalconMessger</string>
	<key>PROJECT_ID</key>
	<string>falconmessger</string>
	<key>STORAGE_BUCKET</key>
	<string>falconmessger.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970182107505:ios:a805d6d94c6f3800</string>
	<key>DATABASE_URL</key>
	<string>https://falconmessger.firebaseio.com</string>
</dict>
</plist>